framework: auto-detect
storage: none
source https://api.nuget.org/v3/index.json

nuget FSharp.Core                       >= 8.0.0 lowest_matching: true
nuget Aardvark.Build                    ~> 1.0.25

nuget Aardvark.SceneGraph               ~> 5.5.0
nuget Aardvark.Rendering.GL             ~> 5.5.0
nuget Aardvark.Application.Slim.GL      ~> 5.5.0
nuget Aardvark.Rendering.Vulkan         ~> 5.5.0
nuget Aardvark.Application.Slim.Vulkan  ~> 5.5.0
nuget Aardvark.Rendering.Text           ~> 5.5.0

nuget Adaptify.Core                     ~> 1.1.9
nuget Adaptify.MSBuild                  ~> 1.1.9

nuget Giraffe                           ~> 7.0.0