framework: netstandard2.1, net6.0
source https://api.nuget.org/v3/index.json
source https://nuget.pkg.github.com/aardworx/index.json
storage: none

nuget FSharp.Core >= 5.0.0 lowest_matching: true
nuget Aardvark.Build ~> 1.0.13
nuget Aardvark.Base ~> 5.2.5
nuget Giraffe ~> 6.0.0
nuget Aardvark.SceneGraph ~> 5.2.14
nuget Aardvark.Rendering.GL ~> 5.2.14
nuget Aardvark.Application.Slim.GL ~> 5.2.14
nuget Aardvark.Rendering.Vulkan ~> 5.2.14
nuget Aardvark.Application.Slim.Vulkan ~> 5.2.14
nuget Aardvark.Rendering.Text ~> 5.2.14
nuget Adaptify.Core ~> 1.1.6
nuget Adaptify.MSBuild ~> 1.1.6
nuget Aardvark.FontProvider ~> 0.0.5